.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  padding: 32px 20px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 344px;
}

.infos h1 {
  font-family: "Archivo Black";
  font-size: 2em;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
  width: 100%;
}

.year {
  font-family: "Archivo";
  font-weight: normal;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
}

.btnWatch {
  padding: 8px 20px;
  background: white;
  color: #2a2a2a;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: "Archivo";
  line-height: 20px;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
  }
}

.btnMore {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 20px;
  font-family: "Archivo";
  font-size: 16px;
  color: white;
  background: none;
  line-height: 20px;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
